

            svg {
                width: 30px;
                fill: $white
            }
        

        #nav_menu {
            li {
                display: inline-block;
                list-style-type: none;
                a{
                    display: flex;
                    min-height: 80px;
                    align-items: center;
                    color: $white;
                    text-decoration: none;
                    padding: 0px 15px;
                    &:hover {
                        background: $lightBG;
                    }

                    @media screen and (max-width: 1024px) {
                        padding: 0px 8px;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            position: relative;
            min-height: 80px;

            .logo {
                order: 2;
            }

            #mobile_menu_btn {
                display: block;
                order: 1;
            }

            #nav_menu {
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                max-width: 320px;
                background: $lightBG;
                transform: translateX(-500px);
                transition: all 0.5s;

                &.menu_active {
                    transform: translateX(0px);
                    transition: all 0.5s;
                }

                li {
                    display: block;

                    a {
                        min-height: 50px;

                        &:hover {
                            background: rgba(255, 255, 255, .1)
                        }
                    }
                }
            }
        }
    

// nav style end

// header style start
header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    background-attachment: fixed;
    height: 500px;
    padding-top: 80px;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(28, 16, 99, 0.5);
        z-index: 1;
    }

    .header {
        position: relative;
        z-index: 1;
        form {
            display: flex;
            flex-wrap: wrap;;
            justify-content: space-between;
            align-items: flex-start;
            align-content: center;
            height: 400px;
            
            input, .member_count, select {
                padding: 10px;
                background: $white;
                border: none;
                flex-basis: 24%;
                font-size: 16px;
                font-family: noto-sans-medium;
                margin-bottom: 15px;
                color: #5d5d5d;
                min-height: 50px;

                &::placeholder {
                    color: #5d5d5d;
                }

                &[type="submit"] {
                    flex-basis: 100%;
                    background: orange;
                    border-color: orange;
                    color: $white;
                    cursor: pointer;
                }

                @media screen and (max-width: 940px) {
                    flex-basis: 49%;
                }

                @media screen and (max-width: 580px) {
                    flex-basis: 100%;
                }
            }

            .member_count {
                position: relative;
                cursor: pointer;

                .member_count_options{
                    display: none;
                    position: absolute;
                    top: 48px;
                    left: 0px;
                    right: 0;
                    background: $white;
                    width: 100%;
                    padding: 5px;
                    border-top: 2px solid $divider;

                    &.member_count_active {
                        display: block;
                    }

                    .mco_item {
                        margin: 8px 0px;
                        display: flex;
                        justify-content: space-between;

                        .mco_counter {
                            button {
                                padding: 5px 10px;
                                background: $primary;
                                color: $white;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
                
            }
        }
    }
}
// header style end

// masin style start
main {
    .main {
        .services {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .services_items {
                position: relative;
                flex-basis: 24%;
                margin-bottom: 15px;
                // max-height: 200px;


                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;
                    // object-position: 0% 0%;
                }

                .service_items_text {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: #303f9fc4;
                    color: $white;
                    opacity: 0;
                    transition:.5s ;
                    text-align: center;

                    h3 {
                        font-size: 20px;
                        margin: 8px;
                    }

                    p{
                        font-size: 16px;
                        margin-bottom: 14px;
                    }

                    a {
                        display: block;
                        background: $white;
                        padding: 8px 15px;
                        width: fit-content;
                        color: $darkBG;
                        text-decoration: none;
                        font-size: 14px;
                    }

                    @media screen and (max-width: 520px) {
                        h3 {
                            font-size: 18px;
                        }

                        p{
                            font-size: 15px;
                        }

                        a{
                            padding: 5px 12px;
                        }
                    }

                    @media screen and (max-width: 420px) {
                        h3 {
                            font-size: 16px;
                        }

                        p{
                            font-size: 13px;
                        }

                        a{
                            padding: 4px 8px;
                        }
                    }
                }

                &:hover {
                    .service_items_text {
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 1024px) {
                    flex-basis: calc(100% / 2 - 8px);
                    margin-bottom: 16px;
                }

                @media screen and (max-width: 768px) {
                    flex-basis: 100%;
                }
            }
        }
        .offer_items{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .offer_item {
                flex-basis: 32.5%;
                background: $lightBG;
                color: $white;
                padding: 20px;
                border-radius: 40px 0px;
                position: relative;

                h3 {
                    margin-bottom: 10px;
                }
                button {
                    margin-top: 20px;
                    padding: 10px 20px;
                    cursor: pointer;
                    background: transparent;
                    border: 2px solid $white;
                    color: $white;
                    transition: all .5s;

                    &:hover {
                        background:rgba(255, 255, 255, .5);
                    }
                }

                @media screen and (max-width: 768px) {
                    flex-basis: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
// masin style end

//modal window start
/*.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-content {
    background-color: #fff;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  margin: 10% auto;
  width: 40%;
  padding-bottom: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  position: relative;
  .name-group, .email-group {
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 10px;
}

button {
  background: #428bca;
  padding: 8px 16px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: blue;
}
}

.close {
  color: #ccc;
  position:absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  &:hover,
 &:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
}
}
}*/